<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Live Meeting</title>
  <link rel="stylesheet" href="/css/style.css">

  <script>
    const roomId = '<%= roomId %>';
  </script>

  <!-- Include socket.io and PeerJS only once -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peer.min.js"></script>

  <!-- Load app.js first so it sets up socket -->
  <script src="/js/app.js" defer></script>
  
</head>
<body>
  <h1>This is your room</h1>
  <canvas id="whiteboard" style="position:absolute; top:0; left:0; z-index:0;"></canvas>
  <canvas id="pointerlayer" style="position:absolute; top:0; left:0; z-index:1; pointer-events: none;"></canvas>
  

</body>
</html>
